<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WMS</title>

    <!-- build:css -->
    <!--<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />-->
    <link href="node_modules/admin-lte/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="node_modules/admin-lte/dist/css/skins/_all-skins.css" rel="stylesheet" />
    <link href="libs/bs3/dist/toolkit-light.css" rel="stylesheet" />
    <link href="node_modules/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="node_modules/angular/angular-csp.css" rel="stylesheet" />
    <link href="node_modules/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet" />
    <link href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="node_modules/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" rel="stylesheet" />
    <link href="node_modules/ui-select/dist/select.css" rel="stylesheet" />
    <link href="node_modules/ng-notify/dist/ng-notify.min.css" rel="stylesheet" />
    <link href="node_modules/dragula/dist/dragula.css" rel="stylesheet" />
    <link href="node_modules/angular-bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet" />

    <link href="assets/styles/bs.less" type="text/css" rel="stylesheet/less" />
    <link href="assets/styles/site.less" type="text/css" rel="stylesheet/less" />
    <!-- endbuild -->
    <!-- build:js -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/admin-lte/dist/js/adminlte.js"></script>
    <script src="node_modules/tinymce/tinymce.js"></script>
    <script src="node_modules/dragula/dist/dragula.js"></script>

    <script src="node_modules/i18next/dist/umd/i18next.js"></script>
    <script src="node_modules/i18next-xhr-backend/dist/umd/i18nextXHRBackend.js"></script>
    <script src="node_modules/i18next-browser-languagedetector/dist/umd/i18nextBrowserLanguageDetector.js"></script>
    <script src="node_modules/i18next-sprintf-postprocessor/dist/umd/i18nextSprintfPostProcessor.js"></script>
    <script src="node_modules/promise-polyfill/promise.min.js"></script>
    <script src="node_modules/systemjs/dist/system.js"></script>
    <script src="scripts/js/sysconfig.js"></script>
    <!-- endbuild -->
    <style id="antiClickjack">
        body {
            display: none !important;
        }
    </style>
    <script>
        if (self === top) {
            var antiClickjack = document.getElementById("antiClickjack");
            antiClickjack.parentNode.removeChild(antiClickjack);
        } else {
            top.location = self.location;
        }
    </script>
 
    <script>
        SystemJS.import('scripts/js/app.js');
    </script>
    <style>
        .splash .splash-bg {
            position: fixed;
            background-color: #ffffff;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: auto;
            background: url("assets/images/bg-login.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        .splash .splash-fore {
            position: absolute;
            left: 50%;
            right: 50%;
            margin-left: -250px;
            width: 500px;
            top: 30%;
            text-align: center;
            color: #fff;
        }

            .splash .splash-fore p {
                font-size: 30px;
                margin-top: 20px;
                font-weight: 500;
            }
    </style>
</head>
<body class="fixed" ng-controller="MainCtrl"
      ng-class="{'skin-green':isInited, 'sidebar-mini':isInited}">
    <div class="splash">
        <div class="splash-bg"></div>
        <div class="splash-fore">
            <span class="fa fa-spinner fa-spin fa-5x"></span>
            <p>Heading to,WMS...</p>
        </div>
    </div>

    <div class="wrapper" ng-class="{'bg-img':isInited}">
        <!-- Main Header -->
        <header class="main-header" ng-show="isInited && isLogin" ng-cloak>
            <!-- Logo -->
            <a href="index.html" class="logo">
                <span class="logo-mini">
                    <img src="/assets/images/logo-mini.png" style="width:80%;" />
                </span>
                <span class="logo-lg">
                    <!--<img src="/assets/images/logo.png" style="width:80%;" />-->
                    WMS
                </span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <!--<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">切换</span>
                </a>-->
                <a href="#" ng-href="" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">切换导航</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="hidden">
                            <a href="" ng-click="switchLanguage()">
                                <span ng-i18next>switchLanguage</span> <i class="fa fa-refresh fa-rotate-90"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="logout()">
                                Logout <i class="fa fa-sign-out"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar" ng-show="isInited && isLogin" ng-cloak>
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <!--<li class="header">菜单栏</li>-->
                    <!--<li class="">
                        <a href="#" ui-sref="test.index">
                            <i class="fa fa-th-large"></i> <span ng-i18next>测试</span>
                        </a>
                    </li>-->
                   
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-th-large"></i> <span>Admin Center</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li st-roles="analyst,admin"><a href="#" ui-sref="account.index"><i class="fa  fa-address-book"></i>Account management</a></li>
                            <li st-roles="business,admin"><a href="#" ui-sref="app.index"><i class="fa fa-android"></i>App Authorization</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-bar-chart-o"></i> <span>Visit management</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li st-roles="analyst,admin"><a href="#" ui-sref="contact.index"><i class="fa fa-address-card-o"></i>Contact maintanince</a></li>
                            <li st-roles="business,admin"><a href="#" ui-sref="visitreason.index"><i class="fa fa-tasks"></i>Visit Reason</a></li>
                            <li><a href="#" ui-sref="visithistory.index"><i class="fa  fa-drivers-license-o"></i>Visit History</a></li>
                        </ul>
                    </li>
                    
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-pencil fa-sliders"></i> <span>Deliver management</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li st-roles="business,admin"><a href="#" ui-sref="deliver.index"><i class="fa fa-tasks"></i>Deliver contact</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-cog fa-fw"></i> <span>Interview management</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li st-roles="analyst,admin"><a href="#" ui-sref="interview.index"><i class="fa fa-tasks"></i>interview info</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-book fa-fw"></i> <span>Onboard management</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li st-roles="business,admin"><a href="#" ui-sref="onboard.index">
                                <i class="fa fa-tasks"></i>Onboard info</a></li>
                        </ul>
                    </li>

                    <!--<li class="">
                        <a href="#" ui-sref="position.index">
                            <i class="fa fa-tasks"></i> <span ng-i18next>会员管理</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#" ui-sref="sys.dictionary">
                            <i class="fa fa-book"></i> <span ng-i18next>字典管理</span>
                        </a>
                    </li>-->
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper ui-view-container " ng-if="isInited && isLogin" ng-cloak>
            <ui-view />
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer" ng-if="isInited && isLogin" ng-cloak>
            Copyright © 2019-2020 WMS.
        </footer>
    </div>

    <!--<div class="login" ng-if="!isLogin" ng-cloak>
        <div class="login-backdrop"></div>
        <div class="login-main">
            <div class="login-header">
                <img class="login-logo" src="assets/images/logo-blue.png" width="120" />
                <h2>WMS</h2>
            </div>
            <div class="login-body">
                <form role="form">
                    <div class="form-group">
                        <label class="control-label" for="">用户名</label>
                        <input type="text" ng-model="entity.userName" class="form-control" placeholder="请输入用户名">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="">密 码</label>
                        <input type="password" ng-model="entity.password" class="form-control" placeholder="请输入密码">
                    </div>

                    <button type="submit" class="btn btn-block btn-login" ng-click="login()">
                        登 录
                        <i class="fa fa-spin fa-spinner" ng-show="entity.isLoading"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>-->
    
    <!--<div class="login" ng-if="!isLogin" ng-cloak>
        <iframe src="https://auth.pactera.com/login"></iframe>
    </div>-->
</body>
</html>
